**Geography / Sales Beat Optimisation**

Problem Statement:

i. Distributor plan their deliveries based on the orders from the retailers. Most of the delivery vehicles have a combination of Sales Beat based in their deliveries. There is no optimisers to decide on the fact that if the vehicles are running overload or underload or optimising the kms

ii. Group of shaktis are covered by separate salesman and doesnâ€™t cover the GT outlets (retailers). As shaktis are in interior rural, so throughput of shaktis are not good, there is always a problem with ensuring delivery for the orders. There should be mushroom model wherein the deliveries of shaktis should be combined with the delivery of GTs routes

Requirements:


i. Do a dynamic routing to each of the distributors to retailers. Once the distributor gets the order for the day how best he can fulfil those order given his delivery fleet (savings in kms and loading) for Metros and Tier-1 cities
ii. Sales beat optimisation: District to be mapped out the Shaktis, Distributors and GT markets. Output required is which shaktis to be marked to which distributor and which Shakti to be mapped to which salesman so that the delivery in combination to the sales beat
Requirements:
Change management w.r.t behavioural change: Delivery person might get a different route at given days which is not the case in the existing scenario wherein the delivery person are set for set retailers. So, the solution is to distribute it into multiple zone (static cluster in dynamic modelling)

Objective of Algorithm:

1. To minimize the delivery distance (route     optimization)
2. To deliver goods to shaktis without vehicle underloading

In [0]:
#Importing some libraries for analysing data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Problem 1**
For Route Optimization problem i have used **Hungarian Method** for optimization. Which minimizes distance between retailers delivery by giving best route.

Flow chart for **Hungarian method** Algorithm working
![alt text](https://www.researchgate.net/profile/Jinjin_Tang2/publication/288932578/figure/fig10/AS:329780273664032@1455637152745/Flow-chart-of-the-Hungarian-algorithm.png)

**Reading required csv files**

In [0]:
shogun_data = pd.read_csv("a.csv")

In [3]:
shogun_data.tail()

      Delivery Date               VEHICLE  ...  Net Value Calculation BILL VALUE
44761    11/30/2018    BIKE (vijayapraba)  ...                 221.39        0.0
44762    11/30/2018    BIKE (vijayapraba)  ...                 280.81        0.0
44763    11/30/2018    BIKE (vijayapraba)  ...                  -7.95        0.0
44764    11/30/2018  BIKE (MOHAMMEDASAIN)  ...                 252.34      730.0
44765    11/30/2018  BIKE (MOHAMMEDASAIN)  ...                 477.98        0.0

[5 rows x 26 columns]

In [0]:
shakti_data = pd.read_csv("/content/shaktigps.csv")

In [6]:
shakti_data.head()

  RS Code    GPS_LAT   GPS_LONG
0  410640  11.268828  77.650470
1  410640  11.269172  77.650173
2  411304  10.505967  79.705148
3  411304  10.507117  79.690247
4  411304  10.500000  79.663765

In [60]:
chennai_data = pd.read_csv("c6.csv", encoding = "latin")
chennai_data.shape

(11785, 25)

In [61]:
chennai_data.head()

  Branch_Desc Area_Desc  ... Outlet Long                      Status
0     CHENNAI       STN  ...   77.544858  Fixed Based on Fixing Algo
1     CHENNAI       STN  ...   77.550346  Fixed Based on Fixing Algo
2     CHENNAI       STN  ...   77.549691  Fixed Based on Fixing Algo
3     CHENNAI       STN  ...   77.544767  Fixed Based on Fixing Algo
4     CHENNAI       STN  ...   77.523920  Fixed Based on Fixing Algo

[5 rows x 25 columns]

In [9]:
#Input the RS CODE for distributor
rs_code = input("Enter RS CODE of Distributor \n")
dist_data = shakti_data[shakti_data["RS Code"] == rs_code].iloc[0]
dist_data

Enter RS CODE of Distributor
410640

RS Code      410640
GPS_LAT     11.2688
GPS_LONG    77.6505
Name: 0, dtype: object

In [12]:
#Input the Party HLL Code for retailer
code_list = []
length = int(input("No of retailers to be scheduled"))

for i in range(0,length):
  partyHllCode = input("Enter Party HLL Code of Retailer {}".format(i+1))
  code_list.append(partyHllCode)

code_list

No of retailers to be scheduled4
Enter Party HLL Code of Retailer 1HUL-411642PUR12
Enter Party HLL Code of Retailer 2HUL-411642KAN17
Enter Party HLL Code of Retailer 3HUL-411642P555
Enter Party HLL Code of Retailer 4HUL-411642P556

['HUL-411642PUR12', 'HUL-411642KAN17', 'HUL-411642P555', 'HUL-411642P556']

In [14]:
code_list[0]

'HUL-411642PUR12'

In [72]:
list1 = {
    'lat':[],                  
    'lon':[]
}
for code in code_list:
  list1['lat'].append(chennai_data[chennai_data["PartyHLLCode"] == code]["Outlet Lat"].to_list()[0])
  list1['lon'].append(chennai_data[chennai_data["PartyHLLCode"] == code]["Outlet Long"].to_list()[0])
  print(code)

HUL-411642PUR12
HUL-411642KAN17
HUL-411642P555
HUL-411642P556

In [0]:
list1 = pd.DataFrame(list1)

In [75]:
#LAT LONG of retailers based on PartyHLLCode entered
list1

        lat        lon
0  8.082312  77.550346
1  8.082407  77.549691
2  8.083033  77.544767
3  8.083214  77.523920

In [77]:
# Input for type of material
types_data = pd.read_csv("types.csv")
types_data.head()

     Type        Combinations
0  TYPE 1   ALL PLGs combined
1  TYPE 2          D+F,PP,HUL
2  TYPE 3     DETS,FNB,PP,HUL
3  Type 4  Dets, Rest of PLGs
4  Type 5   Dets, FnB+PP, HUL

In [78]:
#Input the type of material to be delivered
type_ = input("Enter the type of comnination \n")
Selected_list = types_data[types_data["Type"].apply(lambda x: x.lower()) == type_]["Combinations"]
print("You have selected {} items".format(Selected_list))

Enter the type of comnination
type 5
You have selected 4    Dets, FnB+PP, HUL
Name: Combinations, dtype: object items

In [79]:
#Input the weight of material
wgt = float(input("Enter total weight (tonns)to be shipped"))
if (wgt <= 0.025):
  print("Required vehicle is Bike")
else:
  print("required vehicle is Tata Ace")

Enter total weight (tonns)to be shipped.254
required vehicle is Tata Ace

In [0]:
#This code gives the Vehicle/Person name for a partivular market/Beat
Shogun_data = pd.read_csv("shogun.csv")
# Shogun_data.head()

**Finding which salesman/vehicle will go the particular market**

In [81]:
Beat = input("Enter Beat Name")
Party_Hll_Code = input("Enter Party Hll Code")
Shogun_data[np.logical_and(Shogun_data["BEAT_NAME"] == Beat, Shogun_data["PARTY_HLL_CODE"] == Party_Hll_Code)]["VEHICLE"][:1]

Enter Beat NameD-CHROMPET 1
Enter Party Hll CodeHUL-410243D-CH0103

0    VAN3 (RAJKUMAR)
Name: VEHICLE, dtype: object

pandas.core.series.Series

In [99]:
list1

        lat        lon
0  8.082312  77.550346
1  8.082407  77.549691
2  8.083033  77.544767
3  8.083214  77.523920

In [0]:
Retailer = list1

**Below is the code for calculating distance between each retailer using LAT LONG data provided**

**Haversine Formula** for calculating distance

![alt text](http://ttarnawski.usermd.net/wp-content/uploads/2017/08/Bez-nazwy.png)

In [0]:
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0

def get_distance(lt1, ln1, lt2, ln2):
  lat1 = radians(lt1)
  lon1 = radians(ln1)
  lat2 = radians(lt2)
  lon2 = radians(ln2)

  dlon = lon2 - lon1
  dlat = lat2 - lat1

  a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  c = 2 * atan2(sqrt(a), sqrt(1 - a))

  distance = R * c

  return distance

**Distance between each and every retailer is given in a matrix for example:**

![alt text](https://www.geeksforgeeks.org/wp-content/uploads/hungerain2.png)

In [0]:
def get_distance_li(cordinates):
  ret_li = []

  for i in range(len(cordinates) - 1):
    for j in range(i+1, len(cordinates)):
      lt1, ln1 = float(cordinates.loc[i, 'lat']), float(cordinates.loc[i, 'lon'])
      lt2, ln2 = float(cordinates.loc[j, 'lat']), float(cordinates.loc[j, 'lon'])

      temp_d = get_distance(lt1, ln1, lt2, ln2)
      ret_li.append((i, j, temp_d))

  return ret_li

In [0]:
dist_list = get_distance_li(Retailer)

dist_list shows the distance between different retailers as shown below

In [87]:
dist_list

[(0, 1, 0.07296678382148779),
 (0, 2, 0.6196017783620665),
 (0, 3, 2.9118768304466047),
 (1, 2, 0.5466437947886615),
 (1, 3, 2.8393605265049717),
 (2, 3, 2.2958354988388816)]

In [88]:
!pip install mlrose

Requirement already satisfied: mlrose in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from mlrose) (1.3.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from mlrose) (0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from mlrose) (1.16.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->mlrose) (0.21.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->mlrose) (0.13.2)

Below Code gives the best routing 

Best route calculated:

**1---->0---->3---->2**

In [90]:
import mlrose

# Initialize fitness function object using dist_list
fitness_dists = mlrose.TravellingSales(distances = dist_list)

# define problem
problem_fit = mlrose.TSPOpt(length = 4, fitness_fn = fitness_dists,
                            maximize=False)

# Solve problem using the genetic algorithm
best_state, best_fitness = mlrose.genetic_alg(problem_fit,mutation_prob = 0.6, 
					      max_attempts = 100, random_state = 2)

print('The best state found is: ', best_state)

print('The fitness at the best state is: ', best_fitness)

The best state found is:  [1 0 3 2]
The fitness at the best state is:  5.827322907895635

**Problem 2**

Which Shakti to delivered goods from which distributor.

I have solved this problem by using logic:

when a particular truck/vehicle move from a distributor to retailer then based on the retailer location, list of nearby shaktis will be given so that depending on distance same truck will give material to the shakti

In [91]:
shakti_data.head()

  RS Code    GPS_LAT   GPS_LONG
0  410640  11.268828  77.650470
1  410640  11.269172  77.650173
2  411304  10.505967  79.705148
3  411304  10.507117  79.690247
4  411304  10.500000  79.663765

In [93]:
#Which shakti is nearer to which retailer so that while moving material from distributor to retailer, same vehicle moves material to Shakti
retailer_data = input("Enter Party Hll Code")
lt1 = chennai_data[chennai_data["PartyHLLCode"] == code]["Outlet Lat"].to_list()[0]
ln1 = chennai_data[chennai_data["PartyHLLCode"] == code]["Outlet Long"].to_list()[0]

Enter Party Hll CodeHUL-411642P563

In [94]:
lt1

8.08321373

In [95]:
ln1

77.52392039

In [0]:
dist_shakti_list = []
for i in range(0, len(shakti_data)):
  lt2 = shakti_data.iloc[i, 1]
  ln2 = shakti_data.iloc[i, 2]
  lat1 = radians(lt1)
  lon1 = radians(ln1)
  lat2 = radians(lt2)
  lon2 = radians(ln2)

  dlon = lon2 - lon1
  dlat = lat2 - lat1

  a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
  c = 2 * atan2(sqrt(a), sqrt(1 - a))

  distance = R * c

  dist_shakti_list.append(distance)

In [0]:
df = pd.DataFrame(dist_shakti_list, columns = ["KMS"])

In [98]:
df["RS CODE"] = shakti_data["RS Code"]
df.sort_values(by = "KMS").head()

           KMS RS CODE
84    8.036565  411642
82    8.744015  411642
30   10.934624  411381
86   11.456370  411642
779  14.498199  414293